/**/*-private
/**/log.txt
/**/*history

/build/
/tmp/
/nbproject/
/test/

/*.png
/*.html
/*.log
/*.zip
/*.out
/*.csv
/*.txt
/*.Rout
/*.Rdata
/*.Rmd
/*.exec

/input/
/Excel.vbs
/branin.R
/ASCII.zip
/ASCII.java
/sheet.xlsx
/bin/
/target/
/.classpath
/.project
/.settings/*
/doc/
/*file
/*.sh
/*.R
/*.py
/coverage/
/**/Constants.java
